@define-color border-color rgb(37, 36, 36);
@define-color background-color rgb(26,15,20);
@define-color accent-color rgb(255,46 ,46);

* {
    font-family: Cairo;
    border-radius: 7px;
    font-weight: bold;
    font-size: 13px;
    min-height: 0px;
}

window#waybar {
    color: white;
     background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: rgb(255, 255, 225);
}


#workspaces {
 background-color : @background-color;
}

#workspaces button.active{
    color: white;
}


#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}


#window{
    margin-left: 0px;
}

#clock {
    padding: 0px 10px;
    margin-right: 0px;
    color : white;
    background-color: @background-color;
}

#backlight{
    padding-left: 3px;
}

#battery {
    padding-left:3px;
}

#battery.charging {
    color: white;
    /* background-color: #26A65B; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    padding-left:3px;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio{
    background : @background-color;
    border-radius: 0 7px 7px 0;
    padding-left: 3px;
    padding-right: 12px;
}


#tray{
    color: @accent-color;
    background : @background-color;
    border-radius: 7px 0 0 7px;
    padding-left: 7px;
}

#tray.active{
    background-color: gainsboro;
}

#tray.passive{
    background-color: #f53c3c;
}

#custom-arch{
    padding-left: 12px;
    padding-right: 10px;
}
