@import '../../.cache/wal/colors-waybar.css';

@define-color foreground-color @color2;
@define-color background-color @background;

* {
    font-family: "Fira Sans SemiBold",SymbolsNerdFont;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    min-height: 25px;
}

window#waybar {
    color: @foreground-color;
    background:transparent;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: rgb(255, 255, 225);
}

#workspaces {
    margin: 0px 3px;
    padding: 0px 5px;
    background: @background-color;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    color: @foreground-color;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.active{
}


#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}


#window{
    margin-left: 0px;
}

#clock {
    padding: 0px 12px;
    background : @background-color;
    margin: 0px 3px;
}

#mpris {
    background: @background-color;
    padding: 0 12px;
    margin: 0 3px;
}

#bluetooth{
    background: @background-color;
    padding: 0 12px;
    margin: 0 3px;
}

#backlight{
    padding-left: 3px;
}

#battery {
    padding-left:3px;
}

#battery.charging {
    color: white;
    /* background: #26A65B; */
}

@keyframes blink {
    to {
        background: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    padding-left:3px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#taskbar{
    margin: 0 3px;
    background :@background-color;
}

#pulseaudio{
    padding: 0 12px;
    margin: 0 3px;
    background: @background-color;
}

#network{
    padding:0px 12px;
    background: @background-color;
    margin: 0 3px;
    min-width: 80px;
}


#tray{
    background : @background-color;
    margin: 0 3px;
    padding: 0px 12px;
}

#tray.active{
    background: gainsboro;
}

#tray.passive{
    background: #f53c3c;
}

#custom-arch{
    margin: 0 3px;
    background: @background-color;
    padding: 0px 12px;
}
